* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 66.25%;
}

body {
  color: #eee;
  background-color: #333;
}
// p {
//   font-size: 1.4rem;
// }
.fps {
  position: absolute;
  bottom: 15px;
  left: 14px;
}
