.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  width: 80rem;
  border: 1px solid #eee;

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80rem;
  }
}
